body {
  height: 1880px;
}

.textos {
  text-align: center;
  line-height: 1.15;
  margin: 25px 45px;
}

.texto-menu {
  color: var(--cor-secundaria);
  font: 500 24px "Montserrat", sans-serif;
}

.texto-menu2 {
  font: 500 24px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
}

b {
  font: 600 25px "Montserrat", sans-serif;
  color: var(--cor-primaria);
}

.card {
  border: 4px solid var(--cor-primaria);
  border-radius: 14px;
  overflow: hidden;
  width: 295px;
  height: 372px;
  margin: 0 auto 35px;
  padding: 12px;
}

.card-img {
  border-radius: 14px;
  width: 295px;
  height: 155px;
}

.card-title {
  font: 700 30px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  margin-top: 12px;
}

.card-text {
  font: 500 15px "Raleway", sans-serif;
  color: var(--cor-secundaria);
  margin-top: 10px;
}

.btn-card {
  font: 700 1.563rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 0.875rem;
  width: 295px;
  height: 55px;
  margin-top: 30px;
}
