* {
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body{
    background-color: #1E1E1E;
    height: 100vh;
}