* {
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body{
    background-color: #1E1E1E;
    height: 100vh;
}

.btn-menu{
    margin: 27px;
}

.logo{
    display: flex;
    justify-content: center;
}

/* table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
table, th, td {
border: 1px solid #00C8A4;
}
  
th, td {
    padding: 10px;
}
  
th {
background-color: #00C8A4;
color: #fff;
} */


/* .score-table,.score, .player, .score-cell{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.player{
    font-size: 15px;
} */