html {
  font-size: 62.5%;
}

body {
  height: 110rem;
}

.table-modo-classico {
  border: 0.4rem solid #fff;
  border-radius: 1.8rem;
  height: 40rem;
  margin: 4rem 1.3rem 0 1.3rem;
  position: relative;
}
