html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.logo {
  height: 5rem;
  margin: 12.5rem 0 0 auto;
}

.menu_frase {
  font: 500 1.3rem "Raleway", sans-serif;
  text-align: center;
  color: var(--cor-secundaria);
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0 auto;
}

.botao {
  display: flex;
  justify-content: center;
  margin: 20.5rem 0 0 auto;
}

.menu_botao {
  font: 500 2.5rem "Raleway", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 1.4rem;
  width: 23rem;
  height: 6rem;
}
