* {
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body{
    
    background-color: #1E1E1E;
    height: 100vh;
    
}

.logo{
    height: 50px;
    display: flex;
    justify-content: center;   
    margin: 125px 0 0;
    
}

.menu_frase{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 205px;
    
}

.menu_botao{
    color: #fff;
    width: 230px;
    height: 60px;
    border-radius: 14px;
    background-color: #00C8A4;
    border: none;
    font-size: 25px;
    font-weight: 500;

    
}