:root {
  --cor-primaria: #00c8a4;
  --cor-secundaria: #fff;
  --backgrounds: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

body {
  background-color: var(--backgrounds);
}

.btn-menu {
  margin: 2.7rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.title {
  font: 400 2.2rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

table {
  height: 35rem;
}

.table-container {
  margin-top: 3.5rem;
}

.table-title {
  font: 700 2rem "Montserrat", sans-serif;
  text-align: center;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 3rem;
  border: 0.5rem solid var(--cor-primaria);
  height: 2.5rem;
  width: 20rem;
  padding: 0.3rem 1rem;
  position: absolute;
  top: -1.9rem;
  left: 50%;
  transform: translateX(-50%);
}

.player {
  font: 700 1.6rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: 0.4rem solid var(--cor-primaria);
  padding: 2rem 0 2rem 0;
}

.score-cell,
#score-table {
  font: 700 2rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: 0.9rem solid var(--cor-primaria);
  border-radius: 1.4rem;
  padding-top: 0.5rem;
}

#score-table {
  display: flex;
  justify-content: center;
  border-spacing: 0.4rem;
  margin: 1rem;
}

.score-cell {
  background-color: var(--backgrounds);
  border: 0.1rem solid var(--cor-primaria);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.subtitle {
  font: italic 1.5rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  text-align: center;
  margin-top: 0.5rem;
  padding: 1.5rem;
}

.reset-container {
  display: flex;
  justify-content: center;
}

.btn-reset {
  font: 400 2rem "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 1.4rem;
  margin-top: 1.5rem;
  padding: 1.5rem 16rem;
}
