:root {
  --cor-primaria: #00c8a4;
  --cor-secundaria: #fff;
  --backgrounds: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

body {
  background-color: var(--backgrounds);
}

.btn-menu {
  margin: 27px;
}

.logo {
  display: flex;
  justify-content: center;
}

.title {
  font: 400 22px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

table {
  height: 350px;
}

.table-container {
  margin-top: 35px;
}

.table-title {
  font: 700 20px "Montserrat", sans-serif;
  text-align: center;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 30px;
  border: 5px solid var(--cor-primaria);
  height: 25px;
  width: 200px;
  padding: 3px 10px;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.player {
  font: 700 16px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: 4px solid var(--cor-primaria);
  padding: 20px 0 20px 0;
}

.score-cell,
#score-table {
  font: 700 20px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: 9px solid var(--cor-primaria);
  border-radius: 14px;
  padding-top: 5px;
}

#score-table {
  display: flex;
  justify-content: center;
  border-spacing: 4px;
  margin: 10px;
}

.score-cell {
  background-color: var(--backgrounds);
  border: 1px solid var(--cor-primaria);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

.subtitle {
  font: italic 15px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  text-align: center;
  margin-top: 5px;
  padding: 15px;
}

.reset-container {
  display: flex;
  justify-content: center;
}

.btn-reset {
  font: 400 20px "Montserrat", sans-serif;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 14px;
  margin-top: 15px;
  padding: 15px 160px;
}
