* {
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body{
    background-color: #1E1E1E;
    height: 1100px;
}

.btn-menu{
    margin: 27px;
}

.logo{
    display: flex;
    justify-content: center;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

table{
    height: 350px;

}

.table-container{
    margin-top: 35px;
}

.table-xadrez {
    border: 4px solid #fff; 
    border-radius: 18px;
    position: relative;
    margin: 40px 13px 0 13px;
    height: 400px;

}

.table-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #00C8A4;
    color: #fff;
    height: 25px;
    width: 200px;
    border-radius: 30px;
    padding: 3px 10px;
    position: absolute;
    top: -19px; 
    left: 50%;
    border: 5px solid #00C8A4;
    transform: translateX(-50%);
}


.player{
    border: 4px solid #00C8A4;
    background-color: #00C8A4;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0 20px 0;
}


.score-cell, #score-table{
    border: 9px solid #00C8A4;
    background-color: #00C8A4;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-radius: 14px;
    padding-top: 15px;
}

#score-table{
    margin: 10px;
    display: flex;
    justify-content: center;
    border-spacing: 8px;
}

.score-cell{
    background-color: #1E1E1E;
    border: 1px solid #00C8A4;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 45px 20px 50px 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.reset-container{
    display: flex;
    justify-content: center;

}

.btn-reset{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #00C8A4;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 15px 160px;
    margin-top: 15px;
}

